/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap'); */
/* styles/globals.css */
@import '~leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.sideNav {
  @apply h-full bg-red-500 fixed top-0 left-0 w-[320px] z-[200] -translate-x-full;
  transition: transform 0.3s ease-in-out;
}

.sideNavOpen {
  @apply translate-x-0;
}

.default-transition {
  @apply transition-all duration-1000 ease-in-out;
}



@layer base {

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  a,
  p {
    font-family: var(--font-webfont);
    ;
    
  }

 /* FONT COLORS */

 h1,p {
  @apply text-gray-600 
 }

  h1 {
    @apply font-bold text-4xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }

  h3 {
    @apply font-medium text-xl;
  }

  .h3-bold {
    @apply font-bold text-xl;
  }

  h4 {
    @apply font-medium text-lg;
  }

  .h4-bold {
    @apply font-bold text-lg;
  }

  html,
  body {
    @apply text-base p-0 m-0;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  header {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  }

  .text1 {
    font-family: var(--font-inter);
  }

  .text2 {
    font-family: var(--font-advent-pro);
    font-weight: 200;
    color: #5c5cff;
  }

  .filter-grey {
    filter: invert(31%) sepia(7%) saturate(1031%) hue-rotate(175deg) brightness(100%) contrast(92%); 
  }
}