/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
@import url('https://fonts.cdnfonts.com/css/handwriting');

@import '~leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.sideNav {
  @apply h-full fixed top-0 left-0 w-[320px] z-[2000] -translate-x-full;
  transition: transform 0.3s ease-in-out;
}

.sideNavOpen {
  @apply translate-x-0;
}

.default-transition {
  @apply transition-all duration-1000 ease-in-out;
}

.transition-100 {
  @apply transition-all duration-100 ease-in-out;
}

.transition-300 {
  @apply transition-all duration-300 ease-in-out;
}

.transition-500 {
  @apply transition-all duration-500 ease-in-out;
}



@layer base {

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  a,
  p,
  span {
    font-family: var(--font-webfont);
    ;
    
  }

 .lxgw {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

.handwriting {
  font-family: 'Handwriting', sans-serif;
}


 /* FONT COLORS */

 h1,h2,h3,h4,h5,p,span {
  @apply text-gray-600 
 }

  h1 {
    @apply text-2xl tracking-widest font-bold whitespace-normal;
  }

  @screen md {
    h1 {
      @apply text-3xl; 
    }
  }

  h2 {
    @apply text-xl font-medium;
  }

  @screen md {
    h2 {
      @apply text-2xl; 
    }
  }


  h3 {
    @apply text-lg font-medium;
  }

  @screen md {
    h3 {
      @apply text-xl; 
    }
  }

  .h3-bold {
    @apply font-bold text-xl;
  }

  h4 {
    @apply font-medium text-base;
  }

  @screen md {
    h4 {
      @apply text-lg; 
    }
  }

  .h4-bold {
    @apply font-bold text-lg;
  }

  .h5 {
    @apply font-normal text-base
  }

  .p {
    @apply text-sm
  }

  .span {
    @apply text-sm
  }

  @screen md {
    p {
      @apply text-base; 
    }
  }

  @screen md {
    span {
      @apply text-base; 
    }
  }

  html,
  body {
    @apply text-base p-0 m-0;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .filter-grey {
    filter: invert(31%) sepia(7%) saturate(1031%) hue-rotate(175deg) brightness(100%) contrast(92%); 
  }

  .filter-grey-bold {
    filter: invert(22%) sepia(7%) saturate(1874%) hue-rotate(178deg) brightness(99%) contrast(88%);
  }

  .filter-facebook-blue {
    filter: invert(33%) sepia(81%) saturate(2053%) hue-rotate(202deg) brightness(96%) contrast(97%);
  }

  .filter-icon-footer-grey {
    filter: invert(32%) sepia(9%) saturate(995%) hue-rotate(176deg) brightness(89%) contrast(83%);
  }

  /********* BUTTONS ********/

    .btn-disabled-ghost-primary {
        @apply  !text-primary-300 !bg-transparent !cursor-default;
    }

    .btn-disabled-ghost-secondary {
        @apply  !text-blackWhite-350 !bg-transparent !cursor-default;
    }

    .btn-disabled-solid-secondary {
        @apply  !text-secondary-200 !bg-secondary-100 !cursor-default;
    }

    .btn-disabled-icon-ghost-secondary {
        filter: invert(86%) sepia(7%) saturate(115%) hue-rotate(191deg) brightness(92%) contrast(81%);
    }

    .btn-disabled-icon-ghost-primary {
        filter: invert(76%) sepia(46%) saturate(471%) hue-rotate(189deg) brightness(101%) contrast(101%);
    }

    .btn-disabled {
        @apply  !bg-primary-100 text-primary-200 !cursor-default;
    }

    .btn-base {
        @apply justify-center w-full py-1.5 px-2.5 h-10 hover:cursor-pointer;
    }

    .btn-base:not(.btn-disabled) {
        @apply default-transition;
    }

    .btn-gray {
        @apply shadow-xl bg-gray-200 hover:bg-gray-300 text-gray-700 active:bg-gray-400 rounded-lg;
    }

    .btn-gray:not(.btn-disabled):hover {
        @apply  active:text-gray-200;
    }

    .btn-primary-ghost {
        @apply text-violet-300 hover:bg-primary-100 active:bg-primary-200;
    }

    .btn-primary-ghost-icon {
        filter: invert(50%) sepia(81%) saturate(7196%) hue-rotate(216deg) brightness(98%) contrast(97%);
    }

    .btn-secondary-ghost-icon {
        filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(304deg) brightness(90%) contrast(101%);
    }

    .btn-secondary-ghost {
        @apply text-dark hover:bg-blackWhite-200 active:bg-blackWhite-300 disabled:!bg-transparent;
    }

    .btn-secondary-solid {
        @apply bg-secondary-300 text-blackWhite-150 hover:bg-secondary-200 active:bg-secondary-400;
    }

    .btn-primary-pressed {
        @apply bg-primary-150 hover:bg-primary-150;
    }

    .btn-secondary-pressed {
        @apply bg-blackWhite-250 hover:bg-blackWhite-250;
    }

    .fade-slide-in {
     opacity: 0;
    }

   .fade-slide-in.visible {
      opacity: 1;
    }

    .fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.fade-in-show {
  opacity: 1;
}
}